extends layout

block content
  h1= title
  - var nu= results
  div(class="container-fluid")
  div(class="row")
   each n,index  in nu
    div(class="col-sm-2" onclick =`buy(${index})`) #{n.nutrition_type}, #{n.nutrition_calories}, #{n.nutrition_price}
    script.
        function buy(a)
        {
            alert(`You purchased Item ${a+1}`)
        }